<html>
    <head>
        <title>Contacts</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/Contact.css') }}">
    </head>
    <body class="index">
        <button class="return"><a href="/">Return</a></button>
        <div class="container">
          <h1>Contact</h1>
          <hr size="5" width="90%" color="gray">
          <p class="p1">Phone number: <a href="" class="text">+639667604683</a></p> 
          <p class="p2">E-mail: <a href="" class="text">eng.paz025@gmail.com</a></p>
        </div>
    </body>
</html>