<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body class="index">
        <div class="group">
            <div>
                <h1>Welcome to my Website</h1>
                <hr size="5" width="90%" color="gray">
            </div>
        
            <div class="button">
                <button class="index1"><a href="/profile">Profile</a></button>
                <button class="index2"><a href="/works">Works</a></button>
                <button class="index3"><a href="/contact">Contact</a></button>
            </div>
        </div>    
    </body>
</html>