<html>
    <head>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/works.css') }}">

    </head>
    <body class="index">
        <button class="return"><a href="/">Return</a></button>
        <div class="group">
            <h1>Programming Works</h1>
            <hr size="5" width="90%" color="gray">
            <div class="button">
                <button class="works1"><a href="/toupper">String to Uppercase</a></button>
                <button class="works2"><a href="/circle">Area of a Circle</a></button>
                <button class="works3"><a href="/triangle">Area of a Triangle</a></button>
            </div>
        </div>
    </body>
</html>